.container{
    max-width: 100%;
}

.chatwindow{
    height: 65vh;
    font-size: 14px;
    border: 3px solid #DDD;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
    overflow-y: auto;
    background: white;
    .fa-user{
        background-color: #846f9f;
        padding: 10px;
        color: #fff;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
    }

    .fa-cloud{
        background-color: #bcb0cb;
        padding: 10px;
        color: #fff;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }
    .qa {
        font-weight: 600;
        font-size: 15px;
        padding-top: 8px;
        opacity: 0.9;
        white-space:pre-line;
        vertical-align: bottom;
    }
}

.col-queryicons{
    flex: 0 0 auto;
    width: 5%;
    margin: auto;
}

.col-0{
    flex: 0 0 auto;
    width: 5%;
    margin: 0px;
    padding: 0px;
}

.message{
    color:#000;
    border-radius: 5px;
    border:none;
}
.question{
    padding: 0%;
    background-color: #E7E3ED;
}
.answer{
    padding: 0%;
    background-color: #EEECF2;
}

.waiting p{
    animation: animate 1s linear infinite;
}

.qna-button-style{
    background : none;
    border: none;
}

.qna-button-style :focus {
    background : none;
    border: none;
}

.qna-button-style:hover {
    border: none !important;
    background: none !important;
}

@keyframes animate{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 0;
    }
  }


.chatbox{
    padding: auto;
    background-color: #fff;
    border: 3px solid #DDD;
    border-radius: 10px;
    text-align: center;
    textarea{
        border: none;
        border-right: 2px solid #60428842;
    }

    .fa{
        color: #604288;
        cursor: pointer;
    }

    .fa-paper-plane{
        color: #604288;
        cursor: pointer;
        font-size: 24px;
        margin: 0px;
    }
    .fa-download{
        color: #604288;
        cursor: pointer;
        font-size: 24px;
        margin: 0px;
    }
}

.mic-style{
    background-color: transparent;
}

.mic-style:hover{
    background-color: transparent;
}

.textAreaStyle{
    padding-top: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
.cardbodyStyle{
    padding: 0%;
}

.backgroundText{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hitachiLogo{
    filter: invert(20%);
    margin-right: 1%;
}
.chatIconStyle{
    filter: opacity(50%);
}
.askAIStyle{
    margin-left: 1%;
    font-size: 16px;
    filter: opacity(70%);
}

.downStyle{
    margin-right: 30%;
}

.fedbackStyle{
    background-color: transparent;
    width: fit-content;
    margin-right: 10px;
}

.thumbStyle{
    // color:#665778;
    font-size: 20px;
    cursor: pointer;
    padding: 0px;
}

.thumbStyle :hover{
    font-size: 20px;
}

.responseBox{
    white-space:pre-line;
    vertical-align: bottom;
}

.text-controls-style{
    padding: 1%;
    border-right: 5px solid #eee;
    width: fit-content;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
}

.action-button-style{
    border-radius: 5%;
    width: fit-content;
}
.text-area-div{
    width: 78.66%;
}
.reset-style{
    padding: 6px 10px;
}


